.container {
    width: 100%;
    margin: 0 auto;
  }

.container_log {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--container-gradient);
    justify-self: right;
  }

.ul{
    background: white;
    color: white;
}

.li{
    color: gray;
}
